<footer>
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="https://music.163.com/outchain/player?type=2&id=103027&auto=1&height=66"></iframe>
    <div class="busuanzi-count">
        <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        <span class="site-uv">
            <i class="fa fa-user">本站访客数</i>
            <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>人次
        </span>
        <span class="site-pv">
            <i class="fa fa-eye">本站总访问量</i>
            <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>次
        </span>
    </div>

</footer>

